.text-xs {
  font-size: 12px;
  line-height: 16px;
}

.text-sm {
  font-size: 14px;
  line-height: 20px;
}

.text-md {
  font-size: 16px;
  line-height: 24px;
}

.text-lg {
  font-size: 18px;
  line-height: 28px;
}

.text-xl {
  font-size: 20px;
  line-height: 28px;
}

.text-2xl {
  font-size: 24px;
  line-height: 32px;
}

.text-3xl {
  font-size: 30px;
  line-height: 36px;
}

.text-4xl {
  font-size: 36px;
  line-height: 40px;
}

.text-5xl {
  font-size: 48px;
}

.text-6xl {
  font-size: 60px;
}

.text-7xl {
  font-size: 72px;
}

.text-8xl {
  font-size: 96px;
}

.text-9xl {
  font-size: 128px;
}

/* font weidth */

.font-thin {
  font-weight: 100;
}
.font-extralight {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}
.font-black {
  font-weight: 900;
}

/* font weidght ends here */

@font-face {
  font-family: stolzl;
  src: url(/fonts/stolzl_medium.otf);
}

@font-face {
  font-family: stolzl-md;
  src: url(/fonts/stolzl_medium.otf);
}

h2 {
  font-family: stolzl-md;
}

h1 {
  font-family: stolzl;
  margin-top: 3rem !important;
  font-size: 58.92px !important;
  font-weight: 700 !important;
  line-height: 0px !important;
  text-align: center;
  color: #3d40441a !important;

  @media (max-width: 576px) {
    font-size: 40px !important;
  }
}

h3 {
  font-family: stolzl-md;
  text-align: center;
  font-size: 29.46px !important;
  font-weight: 500 !important;
  line-height: 29.46px !important;
  color: #5ea624 !important;

  @media (max-width: 576px) {
    font-size: 19px !important;
    line-height: 15px !important;
  }
}

p {
  font-family: "Montserrat", sans-serif !important;
}

/* navbar section  */

.navabr-wrapper {
  background-image: url(/gallery/hero-bg.png);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  span {
    color: #5ea624;
  }

  .text-4xl {
    @media (max-width: 576px) {
      font-size: 25px !important;
      line-height: 30px;
    }
  }
}

.navbar {
  background: #07070741 !important;
  border-bottom: 0.8px solid #5ea624;
  backdrop-filter: blur(5px);
}

/* hero section  */

button {
  border-radius: 30px !important;
  background-color: #5ea624 !important;

  p {
    font-family: "Montserrat", sans-serif !important;
  }
}

.project-wrapepr {
  padding-top: 4rem;

  @media (max-width: 992px) {
    padding-top: 1rem;
  }
}

.leaf-image {
  @media (max-width: 992px) {
    width: 50%;
  }
}

.vedio-wrapper {
  span {
    color: #5ea624;
  }
}

.amazone-h2 {
  padding-top: 5rem;
  @media (max-width: 1200px) {
    font-size: 48px !important;
    padding-top: 3rem !important;
  }

  @media (max-width: 992px) {
    font-size: 30px !important;
  }
  @media (max-width: 768px) {
    font-size: 25px !important;
  }
  @media (max-width: 576px) {
    font-size: 16px !important;
    padding-top: 1rem !important;
  }
}
